.sidebar{
  background-color:white;
  position:fixed;
    left:0;
    top:50px;
    bottom:0px;
    width:72px;
    margin-right: 20px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar_link{
  height: 74px;
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

}
.sidebar_link:hover{
  background-color: rgb(233, 233, 233);
}
.sidebar_link img{
  height: 24px;
  margin-bottom: 4px;
}
.sidebar_link div{
  font-family: Roboto, Arial;
  font-size: 10px;
};u;um6lyy,,::-webkit-file-upload-button